* {
    box-sizing: border-box;
    font-family: 'Yellowtail', cursive, Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
    display: flex; /* don't use flexbox */
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

header {
    font-size: 8vmin; 
    font-weight: bold;
    letter-spacing: 1vmin;
    margin-top: 2vmin;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h2 {
    font-size: 5vmin;
    margin-top: 3vmin;
    margin-bottom: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 18vmin); 
    grid-template-rows: repeat(3, 18vmin);
    gap: 1vmin;
    margin-top: 4vmin;
}
  
button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
}
  
button:hover {
    color: white;
    background-color: darkgrey;
}

.x {
    background-color: black;
    border: 0.5vmin solid white;
}

.o {
    background-color: black;
    border: 0.5vmin solid white;

}

.unplayed {
    background-color: white;
}

.img {
    display: block;
    width: 60%;
    margin: auto;
}