* {
    box-sizing: border-box;
    font-family: 'Yellowtail', cursive, Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #1035da;
    display: flex; /* don't use flexbox */
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

header {
    font-size: 4vmin; 
    font-weight: bold;
    letter-spacing: 1vmin; 
}

h1 {
    font-size: 3vmin;
}

h2 {
    font-size: 3vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin); 
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: 4vmin;
    background-color: white;
}
  
#board > div {
    background-color: #1035da;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
}
  
button:hover {
color: white;
background-color: darkgrey;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }